.alert-box,
.popup-menu {
  position: fixed;
  top: 50%;
  left: 50%;
}
.popup-menu {
  backdrop-filter: blur(10px);
  display: none;
  border-radius: 10px;
  padding: 10px;
  transform: translate(-50%, -50%);
}
.alert-box,
.description {
  transform: translateX(-50%);
}
.description {
  width: 69.8% !important;
}
.alert-box {
  box-shadow: 0 4px 8px #000;
  background-color: #98a6a3;
  z-index: 1001;
}
.alert-box {
  width: 50vw;
  padding: 1rem;
  border-radius: 0.25rem;
}

body.modal-open {
  pointer-events: none;
}

.popup-header {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
}

.user-details {
  margin: 1vw;
}

header {
  border: 10px #000;
}
.result-box {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  padding: 15px;
  margin: 15% 0 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
  width: 50%;
  bottom: 50%;
}

.category p,
.citation-style,
.footer,
.popup-header,
.welcome-view h1,
h1,
h2,
h3,
h4,
header,
li {
  text-align: center;
}
.footer h4,
.room h4 {
  color: #000000;
}
.room h4,
p {
  word-break: break-word;
}
.search-icon {
  cursor: pointer;
}
.description-text {
  max-height: 200px;
  overflow-y: auto;
}

.room {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s step-start;
}

.result-box {
  display: flex;
  box-shadow: 0 4px 8px #000;
}

.room:hover .description,
.description.active,
.description:hover {
  background-color: #386b6b;
}
.room .description {
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}
/*
.room:hover .description {
  pointer-events: auto;
  opacity: 1;
  max-height: 1200px !important;
}
.room:hover .description, .calendar-popup:hover, .calendar-popup-overlay:hover {
  pointer-events: auto;
  opacity: 1;
  max-height: 1200px !important;
}*/

.room:hover .description {
  pointer-events: auto;
  opacity: 1;
  max-height: 1200px !important;
}
.calendar-popup-overlay:hover ~ .room .description{
  pointer-events: auto;
  opacity: 1;
  max-height: 1200px !important;
}
.calendar-popup:hover ~ .room .description{
  pointer-events: auto;
  opacity: 1;
  max-height: 1200px !important;
}
.scroll-to-specific-office {
  width: 69.8% !important;
  align-self: center;
  height: 60px;
  margin: auto !important;
  margin-top: 1vw !important;
  margin-bottom: 1vw !important;
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.scroll-to-specific-office button {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.description {
  opacity: 0;
  background-color: #fff0;
  box-shadow: none;
}
.room:hover .description {
  opacity: 1;
  padding: 20px;
  box-shadow: 0 4px 8px #000;
  transition: opacity 0.3s ease-out, max-height 0.3s ease-out,
    padding 0.3s ease-out, background-color 0.3s ease-out,
    box-shadow 0.3s ease-out;
}

.loading-bar-image {
  margin-top: 2vw;
  align-content: center;
}
.footer,
.header {
  position: relative;
  z-index: 1;
}

h2,
h3,
h4,
h5,
p {
  font-weight: 400;
}
.room h4,
header h1 {
  width: 100%;
}
.room h4 {
  transform: translate(-50%, 50%);
}

.part-one-header,
.part-two-header {
  color: #f5f5f5;
}
header {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: max(8vw, 50px);
}

header img {
  height: 80px;
  opacity: 0.8;
  position: absolute;
  right: 450px;
  top: 30px;
}
html {
  color: #000;
  font-family: "Times New Roman", Times, serif;
}
main {
  background-color: #ffffffa1;
}

.room .description,
.room h4 {
  overflow: hidden;
  position: absolute;
  left: 50%;
}
body {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.description,
.footer {
  display: flex;
  justify-content: center;
  width: 80%;
}
.footer {
  grid-area: footer;
  align-items: center;
}
.room-front-page {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: flex-start !important;
  text-align: center !important;
  width: 90% !important;
  padding: 20px !important;
  box-sizing: border-box !important;
}

.room-front-page h4 {
  width: 100% !important;
  margin: 10px 0 20px 0 !important;
  font-size: 1.5rem !important;
}

.room-front-page button {
  margin: 10px 0 !important;
  padding: 10px !important;
  font-size: 1.1rem !important;
}

.room-front-page .add-to-room-list-button {
  margin-top: 50px !important;
}
.room-front-page h4 {
  margin-top: 0% !important;
}

.button h5 {
  margin: 0;
}
.room-front-page,
.welcome-categories,
main .rooms {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 10px;
}
.room-front-page,
main .rooms {
  display: grid;
  position: relative;
  justify-content: center;
}
.room-front-page {
  margin-bottom: 30px;
  min-height: 200px;
}

.room-front-page:hover,
button {
  transition: transform 0.3s;
}
nav {
  padding: 0.5vw;
}

h1 {
  font-size: max(4vw, 16px);
}
h2 {
  font-size: max(2vw, 15px);
}
h3 {
  font-size: max(0.82vw, 14px);
}
h4 {
  font-size: max(0.7vw, 14px) !important;
}
h5 {
  margin: 0;
  padding: 5px;
  line-height: normal;
  font-size: max(0.52vw, 13px);
}
p {
  font-size: max(0.6vw, 12px);
}
.room:hover {
  margin-bottom: 1120px;
}
.description {
  transition: opacity 0.2s ease-in, max-height 0.5s ease-in,
    padding 0.5s ease-in, background-color 0.5s ease-in, box-shadow 0.5s ease-in;
  align-items: center;
  max-height: 0;
  padding: 0;
  height: max-content;
  z-index: 1;
  box-sizing: border-box;
  overflow-y: auto;
  border: #000;
  width: 50vw;
}

.container {
  height: 100vh;
}
.welcome-view {
  padding: 20px;
  max-width: 800px;
  margin: 5vh;
  border-radius: 10px;
}
.meeting-facilitator .time-tracker {
  padding: 20px;
  margin: 5vh;
  border-radius: 10px;
}
.time-tracker,
.dashboard-parent,
.meeting-config {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.time-tracker button,
.time-tracker form,
.dashboard-parent button {
  display: flex;
  align-self: center;
}
.rubric {
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.move-buttons {
  display: flex;
  flex-direction: row;
}
.move-buttons {
  width: 75px !important;
}
.start-meeting-button,
.increase-time-button,
.decrease-time-button,
.switch-speaker-button,
.switch-back-speaker-button,
.reset-times-button,
.add-participant-form,
.dashboard-parent,
.meeting-config {
  margin-bottom: 1vw;
  margin-top: 1vw;
  padding: 1vw;
}
.welcome-view p {
  text-align: justify;
  line-height: 1.6;
}

.main-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
@media (min-width: 862px) {
  main .rooms {
    padding-right: 15vw !important;
    padding-left: 15vw !important;
  }
}
@media (max-width: 863px) {
  main {
    padding-right: 5vw;
    padding-left: 5vw;
    grid-template-columns: repeat(2, 1fr);
  }
  .popup-menu {
    width: 90% !important;
    max-width: none;
    padding: 10px;
  }
  .container {
    grid-template-areas: "header" "nav" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
  }
  .nav {
    position: relative;
    border: none;
    height: auto;
  }
  .description {
    flex-direction: column;
  }
  .welcome-view {
    padding: 15px;
    background-color: #94a7a3;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000;
  }
}
.popup-menu {
  height: 100% !important;
  z-index: 1000;
}

.citation-style {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: repeat(2, min-content);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: stretch;
  align-content: center;
  background-color: #98a6a3;
  margin-bottom: max(1vw, 20px);
  width: 100%;
  box-sizing: border-box;
}

.citation-style h3 {
  grid-area: 1/1/2/3;
}
.citation-style p {
  grid-area: 2/1/3/2;
}
.scroll-to-top-button {
  position: sticky;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  outline: 0;
  transition: background-color 0.3s;
  background: fit;
  margin-bottom: 1vw;
  margin-left: 1vw;
}
.scroll-to-top-button:hover {
  transform: scale(1.1) !important;
  cursor: pointer !important;
  background-color: #61857e !important;
}

.container {
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}

.nav {
  grid-area: nav;
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 2;
}

main {
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #386b6b;
  padding: 0.5rem 1rem;
  color: white;
  position: relative;
  min-height: max(4vw, 50px);
}

.react-datepicker{
  width: 327px;
}

.links-nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.log-in-nav-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 1vw !important;
}

.search-input {
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
}

h3,
h4 {
  margin: 0;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .links-nav-section {
    order: 3;
  }

  .log-in-nav-section {
    order: 2;
  }
}

.room:not(:hover) {
  background-color: #90b0a8;
  margin: 5px;
}
.room:hover {
}
.room:hover,
.header,
.nav {
  display: block;
  background-color: #386b6b;
}

.search-input {
  width: 10vw;
}

.meeting-facilitator .main-welcome {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  align-items: start;
  padding: 20px;
  background: #f4f4f4;
}

.meeting-facilitator .dashboard {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 20px;
  min-width: 800px;
}
.meeting-facilitator .dashboard-parent,
.meeting-config,
.participant-list li {
  background: #b1c1bd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.meeting-facilitator .participant-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background: #fffdfd;
  display: flex;
  flex-direction: column;
}

.meeting-facilitator .set-speaking-time {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.meeting-facilitator .set-speaking-time input {
  height: min-content;
}
.meeting-facilitator .set-speaking-time input {
  margin-left: 0.1vw;
}
.meeting-facilitator .set-speaking-time p {
  margin-right: 0.1vw;
}
.meeting-facilitator .allocated-time {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding-left: 0.1vw;
  padding-right: 0.1vw;
}
.meeting-facilitator .participant-card.active-speaker {
  background-color: #456a6b;
  color: #ffffff;
  font-size: 1.2em;
  border: 2px solid #98a6a3;
  box-shadow: 0 0 15px #98a6a3;
  z-index: 1000;
}

.meeting-facilitator .participant-card.active-speaker h3,
.meeting-facilitator .participant-card.active-speaker p {
  font-weight: bold;
}

.citation-style button {
  grid-area: 2/2/3/3;
  display: flex;
  align-self: center;
}

.alert-box,
.result-box,
.scroll-to-new-results:hover .buttons-scroll-to-new-results {
  height: min-content;
}
.close-button {
  right: 0;
  position: absolute;
}

button {
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
  background: #81a59c !important;
}
main button {
  width: 150px;
  height: 40px;
}
nav button,
.sub-menu button {
  min-width: max(10vw, 20px) !important;
  margin-left: 0.1vw !important;
  margin-right: 0.1vw !important;
  height: min-content !important;
}
.sub-menu button {
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: #61857e;
}

.popup-menu,
.sign-in-out-button button {
  width: 100% !important;
}

.citation-style,
.meeting-facilitator .time-tracker,
.popup-menu,
.scroll-to-top-button,
.welcome-view {
  background-color: #94a7a3;
  box-shadow: 0 4px 8px #000;
}
.close-button,
header img {
  right: 0;
  position: absolute;
}

.close-button {
  top: 0;
  cursor: pointer;
  color: #000;
  font-size: 1.5rem;
}

.participant-list li {
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
.time-tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.time-tracker,
.total-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.time-tracker .total-time button {
  margin-top: 10px;
}
.total-time h3 {
  font-size: max(1.5vw, 20px);
  font-weight: bold;
  text-shadow: 0.1px 0.1px 0.2px;
}

.restart-meeting-button {
  background-color: #ff3b14;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.restart-meeting-button:hover {
  background-color: rgb(218, 0, 0);
  color: black;
}
.audio-settings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.audio-settings label {
  display: block;
  margin: 5px 0;
}
.label-toggle-setting,
.audio-settings label {
  align-self: center;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.audio-settings input[type="checkbox"] {
  margin-left: 10px;
}
.meeting-description {
  display: flex;
  flex-direction: row;
}
.meeting-description div {
  margin: 0.5vw;
}
button {
  padding: 0.1vw !important;
}
.room-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 6px;
}
.grid-view-rubric {
  grid-area: 1 / 1 / 2 / 3;
}
.grid-view-back {
  grid-area: 2 / 1 / 3 / 2;
}
.grid-view-forward {
  grid-area: 2 / 2 / 3 / 3;
}
.calendar-container {
  margin: 10px;
  margin-top: 1vw;
  display: flex;

  width: 100vw !important;
}

.time-column {
  flex: 0 0 auto;
  border-left: 2px solid #81a59c;
  border-top: 2px solid #81a59c;
  border-bottom: 2px solid #81a59c;
  background-color: #81a59c4b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 0.5vw;
}

.calendar-scroll,
.description {
  max-width: 90vw;
  overflow-x: auto;
  display: flex;
  border: 2px solid #81a59c;
  background-color: #81a59c4b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 0.5vw;
}
.description {
  background-color: #386b6b !important;
}
.fc-toolbar-title {
  font-weight: bolder;
}

.room button {
  padding: 20px !important;
  width: 90%;
}
.scroll-to-specific-office button {
  padding: 1vw !important;
  width: 6vw;
}

.room {
  padding: 0.2vw;
}
.custom-default-speaking-times {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.custom-default-speaking-times label {
  margin-left: 1vw;
  margin-right: 1vw;
}
.countdown-on-new-speaker {
  width: 300px;
  align-self: center;
}
.set-meeting-time {
  display: flex;
  align-items: row;
  align-self: center;
  margin-top: 1vw;
}

.set-meeting-time button,
.audio-settings label {
  margin-left: 1vw;
  margin-right: 1vw;
}

.toggles {
  align-self: center;
}
.countdown-on-new-speaker {
  margin-bottom: 1vw;
}
.toggle-audio-alerts-rubric {
  margin-top: 2vw;
  margin-bottom: 0px;
}
.welcome-view .read-aloud-button {
  padding: 0 !important;
}
.welcome-view .read-aloud-button img {
  width: 1.5vw;
}
.welcome-view .read-aloud-button {
  width: 2vw;
  height: 2vw;
}
.meeting-type-selection {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.read-aloud-button,
.meeting-technique-guidance {
  align-self: center;
  justify-self: center;
}

.meeting-technique-guidance {
  display: flex;
  flex-direction: row;
}
.meeting-technique-guidance button {
  margin: 1vw !important;
  align-self: center;
  justify-self: center;
}

.intro-toggles {
  width: 150px;
  margin-bottom: 1vw;
}
.settings-preview h3 {
  margin-bottom: 1vw;
  margin-top: 1vw;
}
.filter-checkbox{
  display: flex;
  justify-content: center;
  margin-top: 1vw;
  flex-direction: row;
}