.main-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
  }
  
  .welcome-view {
    padding: 20px;
    max-width: 800px;
    margin: 5vh;
    border-radius: 10px;
  }
  
  .welcome-view p {
    text-align: justify;
    line-height: 1.6;
  }
  
  .welcome-view h2 {
    margin-bottom: 10px;
  }
  
  .header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: relative;
    min-height: max(12vw, 100px);
  }
  
  .header img {
    height: max(12vw, 100px);
    opacity: 0.5;
    bottom: 0;
  }
  
  .h1 {
    font-size: max(4vw, 16px);
  }
  
  .h2 {
    font-size: max(2vw, 15px);
  }
  
  .h3 {
    font-size: max(0.82vw, 14px);
  }
  
  .h4 {
    font-size: max(0.7vw, 14px) !important;
  }
  
  .h5 {
    margin: 0;
    padding: 5px;
    line-height: normal;
    font-size: max(0.52vw, 13px);
  }
  
  p {
    font-size: max(0.7vw, 12px);
  }
  